*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background: rgb(20 155 200 / 69%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(103, 9, 117);
    letter-spacing: 1px;
    margin: 30px 0px;
}

.todo-list{
    width: 500px;
    padding: 20px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    border-radius: 15px;
    background-color: #7f5cd840;
}

.list-head{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 25px;
}

.entered-list{
    padding: 12px;
    border-radius: 7px;
    border: 1.5px solid #4a74e1;
    font-size: 15px;
    outline: none;
}

.add-list{
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 6, 133);
    outline: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
}

.add-list.active{
    opacity: 1;
    pointer-events: all;
}

.tasks{
    width: 100%;
    margin-top: 30px;
}

.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p{
    font-size: 15px;
    font-weight: 500;
    color: #111;
    letter-spacing: 1px;
}

.item.completed p{
    text-decoration: line-through;
    color: #11111180;
}

.item-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-btn i{
    color: rgb(8, 6, 133);
    font-size: 20px;
    cursor: pointer;
}